* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.material-icons {
	vertical-align: middle;
}

html {
	font-size: 26px;
}

button {
	padding: 8px;
	border-radius: 2px;
	outline: none;
	border: none;
	box-shadow: none;
	color: #ffffff;
	background: #0060df;
}

button:hover {
	background: #003eaa;
}

button:active {
	background: #002275;
}

button:focus {
	box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

input {
	padding: 8px;
	outline: 1px solid rgba(12, 12, 13, 0.2);
	border: none !important;
	font-size: calc(0.833rem / 1.4);
	font-family: sans-serif;
	border-radius: 2px;
}

input:hover {
	outline: 1px solid rgba(12, 12, 13, 0.3);
}

input:focus {
	border: none !important;
	outline: #0a84ff;
	box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

textarea {
	padding: 8px;
	resize: none;
	outline: 1px solid rgba(12, 12, 13, 0.2);
	border: none !important;
	font-size: calc(0.833rem / 1.4);
	font-family: monospace;
	border-radius: 2px;
}

textarea:hover {
	outline: 1px solid rgba(12, 12, 13, 0.3);
}

textarea:focus {
	border: none !important;
	outline: #0a84ff;
	box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.pane {
	flex: 1 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
	gap: 5px;
	padding: 5px;
}

.pane > * {
	flex: 1 1;
}

#selector {
	outline: none !important;
	border: none !important;
	overflow: scroll;
}

#selector option {
	padding: 5px;
	font-size: calc(0.833rem / 1.4);
	font-family: sans-serif;
}

#input-filter {
	flex: 0 0;
}

#controls {
	flex: 0 0;
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	place-items: stretch;
	place-content: stretch;
	gap: 5px;
}

#button-add {
	grid-column: 1 / 2;
	grid-row: 1 / 1;
}

#button-delete {
	grid-column: 2 / 3;
	grid-row: 1 / 1;
}

#button-save {
	grid-column: 1 / 3;
	grid-row: 2 / 2;
}
